@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-thin-custom {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #c1c1c1 transparent; /* Firefox */
}

.scrollbar-thin-custom::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.scrollbar-thin-custom::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 9999px;
}

.scrollbar-thin-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-always {
  scrollbar-width: auto; /* Firefox에서 항상 보이게 */
}

.scrollbar-always::-webkit-scrollbar {
  width: 3px; /* 스크롤바 너비 */
}

.scrollbar-always::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.scrollbar-always::-webkit-scrollbar-track {
  background: transparent;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #35caf4;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
